.editor-container>textarea {
    width: 100%;
    min-height: 200px;
    margin-bottom: -5px;
    resize: vertical;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 0.875rem;

}

.editor-container.expanded-window textarea {
    min-height: calc(90vh - 5vh - 2vh);
    resize: none;
}