@import url('https://fonts.googleapis.com/css?family=Russo+One');

.header {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    font-family: Russo One;
    font-size: 1rem;
    color: black;
    background-color: var(--blue-sky-header);
}

.header .svg-icon-right {
    margin-left: auto;
}

.header .svg-icon-right:hover {
    fill: var(--blue-sky-bg);
    cursor: pointer;
}