:root {
  --blue-sky-bg: #CAF4FF;
  --blue-sky-editor: #A0DEFF;
  --blue-sky-header: #5AB2FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue-sky-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 10px 0;
}