@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root {
  --blue-sky-bg: #CAF4FF;
  --blue-sky-editor: #A0DEFF;
  --blue-sky-header: #5AB2FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue-sky-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
  gap: 20px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


#editorWrapper,
#previewWrapper {

  max-width: 600px;

}

.header {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-family: Russo One;
  font-size: 1rem;
  color: black;
  background-color: var(--blue-sky-header);
}

.header .cross_svg {
  margin-left: auto;
}

.header .cross_svg:hover {
  fill: var(--blue-sky-bg);
  cursor: pointer;
}

#editorWrapper>textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

#previewWrapper {
  margin: 10px 0;
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
}

.expanded-window {
  width: 96%;
  min-height: 100vh;
  margin: auto;
}

.hide {
  display: none;
}

.text-box {
  background-color: var(--blue-sky-editor);
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 850px) {

  #editorWrapper {
    max-width: 550px;
  }

  #previewWrapper {
    max-width: 630px;
  }

}